@import './variables';

@mixin form-receiver($width, $height, $font-size) {
  display: block;
  color: inherit;
  font-family: inherit;
  margin-bottom: 20px;
  width: $width;
  height: $height;
  padding: 0.8rem 1.0rem;
  border-radius: 0.4rem;
  font-size: $font-size;
  border: $border-style-1;
}