$border-style-1: 1px solid #eaeaea;
$shadow-style-1: 0px 8px 16px 0px rgba(0,0,0,0.2);
$shadow-style-2: 0.2rem 0.8rem 1.6rem rgba(34, 34, 34, 0.08);
$color-grey-1: rgba(0,0,0,.08);
$color-grey-2: rgb(63, 63, 63);
$color-grey-3: #656565;
$color-purple-1: #a18cd1;
$color-purple-2: #7756c5;
$color-pink-1: rgb(170, 111, 162);