@import '../../_sass/variables';

.nav-link {
  padding-right: 25px;
  text-decoration: none;
  color: $color-grey-2;
}

.nav-link:last-of-type {
  padding-right: 0;
}

.nav-link:hover {
  color: blueviolet;
}
