@import '../../_sass/inheritance';
@import '../../_sass/variables';
@import '../../_sass/mixins';

.wrapper-new-post {
  @extend %frame-style-1;
  max-width: 992px;
  width: 100%;
  margin: 20px auto;
}

.form {
  @extend %flex-style-2;
  padding: 40px;
}

.post-title, .post-content {
  @include form-receiver(100%, 100, 20px);
}

.post-title:focus, .post-content:focus {
  outline: none;
  box-shadow: $shadow-style-2;
}

.post-content {
  height: 50vh;
}

.new-post-submission {
  @extend %submission-button;
  margin: auto;
}

.new-post-submission:focus {
  outline: none;
}

.new-post-submission:hover {
  background: $color-pink-1;
}
