.wrapper-new-post {
  max-width: 992px;
  width: 100%;
  margin: 20px auto;
  border: 1px solid #eaeaea;
  background: rgba(0,0,0,.08);
}

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  text-align: center;
}

.post-title, .post-content {
  display: block;
  margin: 0;
  padding: 0.8rem 1.6rem;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 20px;
  border: none;
  border-radius: 0.4rem;
  margin-bottom: 20px;
}

.post-title:focus, .post-content:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem rgba(34, 34, 34, 0.08);
}

.post-content {
  height: 50vh;
}

.new-post-submission {
  width: 50px;
  padding: 10px;
  border: none;
  background: rgb(228, 145, 217);
  border-radius: 10%;
  font-family: inherit;
  color: #fff;
  margin: auto;
}

.new-post-submission:focus {
  outline: none;
}

.new-post-submission:hover {
  background: rgb(170, 111, 162);
}
