<ng-container *ngIf="post$ | async as post">
  <!-- ng-container is a VERY convenient Angular element. It allows you to do 
    ngIf, ngFor and stuff, but it will not get rendered at the end -->

  <div class="wrapper-post-detail">
    <h1 class="post-title">{{post[0].title | uppercase}}</h1>
    <p class="post-content">{{post[0].body}}</p>
    <app-comments></app-comments>
  </div>

</ng-container>


<!-- TODO REMOVE THIS -->
<div class="wrapper-post-detail" *ngIf="post">
  <h1 class="post-title">{{post[0].title | uppercase}}</h1>
  <p class="post-content">{{post[0].body}}</p>
  <app-comments></app-comments>
</div>
