<ng-container *ngIf="comments$">

  <h3 class="comment-header">Comments</h3>
  <ul id="comment-list" class="comments-list">
    <li class="comment" *ngFor="let comment of comments$ | async; let i = index">
      <div class="comment-title">
        <label>{{comment.email | titlecase}}</label>
        <div class="custom-dropdown-menu">
          <a class="menu-button fa fa-ellipsis-h" (click)="toggleMenuButton.press({ event: $event })"></a>
          <div class="dropdown-option" style="display: none">
            <label class = "option" (click)="toggleEditButton.press({ event: $event });">Edit</label>
            <label class = "option" (click)="deleteCommentButton.press({ id: comment.id, event: $event })">Delete</label>
          </div>
        </div>
      </div>
      <div class="wrapper-comment-content">
        <p class="comment-content">{{comment.body}}</p>
      </div>
      <button class="edited-comment-submission" style="display: none;" (click)="updateCommentButton.press({ comment: comment, event: $event })">Update</button>
    </li>
  </ul>

</ng-container>

<div class="wrapper-post-comment">
  <input 
    required
    email
    ngModel
    name="userEmail"
    id="user-email"
    class="email-receiver"
    #userEmail="ngModel"
    type="email" 
    placeholder="Enter your email"/>
  <div *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)"
    class="alert alert-danger">
    <div *ngIf="userEmail.errors.required">
      Email is required.
    </div>
    <div *ngIf="userEmail.errors.email">
      Invalid email.
    </div>
  </div>
  <textarea 
    required
    ngModel
    name="commentContent"
    id="user-comment"
    class="comment-receiver"
    #commentContent="ngModel"
    type="text">
  </textarea>
  <div *ngIf="commentContent.invalid && (commentContent.dirty || commentContent.touched)"
    class="alert alert-danger">
    Content is required.
  </div>
  <button class="comment-submission btn"
    [disabled]="commentContent.invalid || userEmail.invalid"
    (click)="addCommentButton.press({ postId: activatedRoute.snapshot.paramMap.get('id'), email: userEmail.value, body: commentContent.value }); userEmail.value = ''; commentContent.value = '';">
    Publish
  </button>
</div>
