@import '../../_sass/inheritance';
@import '../../_sass/mixins';
@import '../../_sass/variables';

.comments-list {
  display: block;
  list-style: none;
}

.comment {
  margin-bottom: 20px;
  border: $border-style-1;
  padding: 10px 10px;
  width: 100%;
}

.menu-button {
  padding: 0 5px;
}

.menu-button:hover {
  background: #e0e0e0;
  border-radius: 10%;
}

.dropdown-menu {
  float: right;
  display: block;
  position: relative;
}

.dropdown-option {
  border: $border-style-1;
  box-shadow: $shadow-style-1;
  background-color: #f9f9f9;
  position: absolute;
  min-width: 60px;
  z-index: 1;
}

.option {
  display: block;
  padding: 5px 5px;
  font-size: 12px;
}

.option:hover {
  background: $color-grey-3;
  color: #fff;
}

.wrapper-comment-content {
  color: $color-grey-3;
  background: #f7f7f7;
  margin-top: 10px;
}

.comment-content {
  padding: 20px;
}

.edited-comment-submission {
  @extend %submission-button;
  margin-top: 10px;
}

.comment-header {
  margin-bottom: 20px;
}

.wrapper-post-comment {
  @extend %flex-style-1;
}

.email-receiver {
  @include form-receiver(25%, 30px, 15px);
}

.comment-receiver {
  @include form-receiver(75%, 75px, 15px);
  border-radius: 0.4rem;
}

.comment-submission {
  @extend %submission-button;
}

.email-receiver:focus, .comment-receiver:focus, .comment-submission:focus {
  outline: none;
}

.comment-submission:hover {
  background: rgb(170, 111, 162);
}
