@import './_sass/variables';

.wrapper-header {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-image: -moz-linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-image: -webkit-linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  color: #fff;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 15px 0;
}

.header-link h1 {
  font-weight: 100;
  padding-left: 5px;
}

.header-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-flow: nowrap;
}

.profile-link {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  transition: transform 1s ease;
}

.profile-link:last-of-type {
  margin-right: 0;
}

.profile-link:hover {
  transform: translateY(3px);
}

.profile-link:visited {
  color: #fff;
}

.wrapper-navigation {
  border-bottom: $border-style-1;
  width: 100%;
}


@media screen and (max-width: 1280px) {
  .flex {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .flex {
    flex-direction: column;
  }
}
