<div class="wrapper-header">
    <div class="flex">
      <a class="header-link" routerLink="/home">
        <i class="fa fa-rss fa-3x"></i><h1>{{title}}</h1>
      </a>
      <div class="wrapper-profile">
        <a class="profile-link fa fa-facebook-square" href="https://www.facebook.com/triet.minh.526"></a>
        <a class="profile-link fa fa-linkedin" href="https://www.linkedin.com/in/trietjack/"></a>
        <a class="profile-link fa fa-github-square" href="https://github.com/trietjack"></a>
      </div>
  </div>
</div>
<div class="wrapper-navigation">
  <div class="flex">
    <app-navigation-bar></app-navigation-bar>
    <a class="search-button fa fa-search"></a>
  </div>
</div>
<router-outlet></router-outlet>
