.wrapper-header {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-image: -moz-linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-image: -webkit-linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.wrapper-header h1 {
  margin: 0 auto;
  font-weight: 100;
}

.wrapper-profile {
  margin: 0 auto;
}

.profile-link {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  transition: transform 1s ease;
}

.profile-link:last-of-type {
  margin-right: 0;
}

.profile-link:hover {
  transform: translateY(3px);
}

.profile-link:visited {
  color: #fff;
}

.wrapper-navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  border-bottom: 1px solid #eaeaea;
}

app-navigation-bar {
  margin-left: 20px;
}

app-search-box {
  margin-left: auto;
  margin-right: 30px;
}
