<ng-container *ngIf="showSearchBox">

  <div class="search-wrapper">
    <a href="javascript:void(0)" class="close-button" (click)="closeSearchBox()">&times;</a>
    <input #searchBox class="search-box" formControlName="text" type="text" placeholder="Type to search" (input)="setSearchInput(searchBox.value)">+
    <ng-container *ngIf="posts$ && searchBox.value !== ''">

        <ul class="search-result">
          <li *ngFor="let post of posts$ | async" routerLink="/content/{{post.id}}" (click)="closeSearchBox()">
            {{post.title}}
          </li>
        </ul>
    
      </ng-container>
  </div>

</ng-container>
