<!-- Button for creating new post-->
<i class="new-post-button fa fa-plus-square fa-3x" routerLink="/new-post" title="Create New Post"></i>

<ng-container *ngIf="posts$">

  <!-- Post-display grid-->  
<div class="wrapper-posts">
  <ul class="posts-list">
    <li *ngFor="let post of posts$ | async">
      <i class="close-button fa fa-times-circle fa-3x" (click)="onDeletePost(post.id, $event)"></i>
      <a class="post-item" routerLink="/content/{{post.id}}">
        <img class="post-image" src="/assets/images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg"/>
        <p class="post-label">{{post.title | uppercase}}</p>
      </a>
    </li>
  </ul>
</div>

</ng-container>
