@import '../../_sass/inheritance';
@import '../../_sass/variables';

.posts-list {
  display: grid;
  max-width: 1280px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  margin: 50px auto;
  list-style: none;
}

.post-item:first-of-type {
  margin-top: 30px;
}

.post-item:last-of-type {
  margin-bottom: 30px;
}

.post-item {
  @extend %frame-style-1;
  color: $color-grey-2;
  text-decoration: none;
}

.post-item:hover {
  box-shadow: 0 10px 15px -10px rgba(30,45,62,.21), 0 5px 40px -10px rgba(31,44,60,.1);
}

.post-image {
  object-fit: cover;
  width: 100%;
}

.post-label {
  padding: 15px;
  text-align: center;
}

.new-post-button {
  color: $color-purple-1;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.new-post-button:hover {
  color: $color-purple-2;
}

.new-post-button:focus {
  outline: none;
}

.posts-list {
  li {
    position: relative;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: -17px;
  display: block;
  opacity: 0.2;
}

.close-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .posts-list {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .posts-list {
    margin: 50px 20px;
  }
}
